<!-- Your footer content here -->
<footer class="EAfooter">
    <p class="tinytext">Copyright © 2023 Everafter.pics</p>
    <a href="/loggingout">Logout</a> || <a href="/privacy.html">Privacy</a> || <a href="/terms.html">Terms</a>
    <br><br>
  </footer>
  