
<!DOCTYPE html>
<html>
<head>
    <meta property="og:title" content="Everafter: An Elegant Real-Time Photo Sharing for Events">
    <meta property="og:description" content="Take complete control of your event photos.Full resolution, one click download.">
    <meta property="og:image" content="https://everafter.pics/images/everafter_opengraph.png">
    <meta property="og:url" content="https://everafter.pics">
    <meta property="og:type" content="website">
    <title>Everafter Event Photo Uploads</title>
    <meta name="description" content="An elegant app for real-time photo sharing at weddings and events.">
    <meta name="keywords" content="Event photograph sharing, Photo sharing app, Event planning, Wedding photography,Wedding TV, Wedding screen, TV at wedding, Party photography, Concert photography, Event photo upload, Private photo sharing, Event slideshow, Real-time photo sharing, Best photo sharing app for events, How to collect wedding photos from guests, Real-time slideshow for parties, Secure photo upload for events, Event photography tips and tricks, Crowd-sourced event photography, Photo sharing solutions for event planners, Download event photos in bulk, Private directory for event photos, Share full-resolution photos online, Corporate event photo sharing, Festival photography app, Art gallery opening photography, Charity event photo collection, School event photography, Sports event photo sharing, Family reunion photo app, Church event photography, Trade show photo upload, Virtual event photography">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/w3.css">
    <!--<script src="/js/ea.js"></script>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FMNZYYZD42"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FMNZYYZD42');
</script>
<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "j1edop3vjd");
</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>