<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="UIcontainer">
        <img class="logo" src="/images/logo_light.png">
    <h1>Welcome, <%= user.username %>!</h1>

    <% if (locals.success) { %>
        <p class="success-message"><%= success %></p>
    <% } %>

    <p>Welcome <%= user.username %>. This is your Everafter dashboard.</p>
    <p> <a href="/checkout">Click here to purchase an Everafter event.</a></p>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>
