<%- include('partials/header.ejs') %>
<body>
    <div class="maincontainer">
        <a href="./"><img class="logo" src="https://everafter.pics/images/ea_large_logo_full_blk.png"></a>
    <h1>Welcome, <%= user.username %>!</h1>

    <% if (locals.success) { %>
        <p class="success-message"><%= success %></p>
    <% } %>

    <p>Super secure payments add stripe logo and cred</p>
    
    <form action="/checkout" method="get">
        <input type="submit" value="Purchase" class="login">
    </form> <br>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>
