<!DOCTYPE html>
<html>
<head>
    <title>Log Out</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="UIcontainer">
        <img class="logo" src="/images/ea_large_logo_full_blk.png">
    <h1>Log Out</h1>
    <% if (locals.error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>
    
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>
