<%- include('partials/header.ejs') %>
<body>
    <div class="maincontainer">
    
        
         <a href="./"><img class="logo" src="/images/ea_large_logo_full_blk.png"></a>
        
          
          

    <h1>Login</h1>
    <% if (locals.error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>
    
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required class="form-style">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required autocomplete="on"class="form-style">
        <br>
        <input type="submit" value="Login"class="login">
    </form>
</div>
</section>
</body>
</html>
