<!DOCTYPE html>
<html>
<head>
    <title>Everafter Signup</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="UIcontainer">
        <img class="logo" src="/images/logo_light.png">
    <h1>Signup</h1>
    <p>Note: The signup name you choose will determine the URL (web link) that users will send files to. So make it memorable but easy to type.</p>
    <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required autocomplete="on">
        <br>
        <input type="submit" value="Signup">
    </form>
    </div>
    
</body>
</html>
