<!DOCTYPE html>
<html>
<head>
    <title>Checkout Success</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FMNZYYZD42"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FMNZYYZD42');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="maincontainer">
        <a href="./"><img class="logo" src="/images/ea_large_logo_full_blk.png"></a>
    <h1>Success!</h1>
    <p class="eacenter">Huzzah! You're all paid up! <br><br><br> <span class="eabutton"><a href="/dashboard_paid"> Let's get started.</a></span>   </p>
   
</div>
</body>
</html>
