<!DOCTYPE html>
<html>
<head>
    <title>Checkout Success</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="UIcontainer">
        <a href="./"><img class="logo" src="/images/ea_large_logo_full_blk.png"></a>
    <h1>Success</h1>
    <p>Huzzah! Your payment went through. Let's <a href="/dashboard_paid"> get started.</a>   </p>
   
</div>
</body>
</html>
