/* Add your CSS styles here xxx */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,400;1,421&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    
    background: -webkit-linear-gradient(to right, #9e0c26, #420e34);
    background: linear-gradient(to right, #8d182d, #3d082c);
    
}
#bg {
  width: 300px;
  height: 300px;
  background-color: coral;
  color: white;
}


.menu {
  color: #b5b5b5;
}


a {
  text-decoration: none;
}



.logo {
  z-index: 2;
  -webkit-filter: drop-shadow(2px 2px 5px #1b1b1b);
  filter: drop-shadow(2px 2px 5px #151515);
  width: 40vw;
  max-width: 400px;
  opacity: 1;
  padding-top: 10vh;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  .logo {
      width: 90vw;
      padding-top: 3vh;
  }
}

@media (max-width: 800px) {
  .logo {
      width: 80vw;
      padding-top: 3vh;
  }
}

.dashlogo {
  z-index: 2;
  -webkit-filter: drop-shadow(2px 2px 5px #1b1b1b);
  filter: drop-shadow(2px 2px 5px #151515);
  width: 40vw;
  max-width: 200px;
  opacity: 1;
  padding-top: 10vh;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  .dashlogo {
      width: 90vw;
      padding-top: 3vh;
  }
}

@media (max-width: 800px) {
  .dashlogo {
      width: 80vw;
      padding-top: 3vh;
  }
}

.logoindex {
  z-index: 2;
  -webkit-filter: drop-shadow(2px 2px 5px #1b1b1b);
  filter: drop-shadow(2px 2px 5px #151515);
  width: 40vw;
  max-width: 400px;
  opacity: 1;
  padding-top: 24vh;
}

/* Media query for mobile screens */


@media (max-width: 800px) {
  .logoindex {
      width: 80vw;
      padding-top: 20vh;
  }
}

@media (max-width: 600px) {
  .logoindex {
      width: 90vw;
      padding-top: 25vh;
  }
}

.fronttext {
  width:50vw;
  max-width: 400px;
}
@media (max-width: 600px) {
  .fronttext {
      width: 60vw;
      
  }
}

@media (max-width: 800px) {
  .fronttext {
      width: 70vw;
      
  }
}

.faqtext {
  width:100vw;

}
@media (max-width: 600px) {
  .faqtext {
      width: 98vw;
      
  }
}

@media (max-width: 800px) {
  .faqtext {
      width: 98vw;
      
  }
}

.eacenter {
  text-align: center;
}

/*input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }*/

  section {
    padding: 5vw;
    height: 100vh;
    background: #f4f4f419;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
  }
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #00000094;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #b5b5b5;
}

.UIcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 12vh;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #b5b5b5;
}

.maincontainer{
  background: transparent;
  overflow: visible !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 887;
  color: #f5efef;
  text-align: justify;
  min-height: 98vh;
}

.checkoutcontainer{
  background: #ffffff;
  overflow: visible !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 887;
  color: #363636;
  text-align: justify;
  min-height: 98vh;
}

.indexmaincontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexmaincontainer div {
  width: 100px;
  height: 100px;
}
 
}


.payment-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(238, 238, 238);
  font-size: 1.2em;
  padding: 6em 4em 5em;
}
.tinybuttontext {
  font-size: .7em;
}
.productimage {
  max-width: 360px;
  margin: auto;
  display: block;
}
.main_nav {
color: #b5b5b5;
}
.EAfooter {
  color: #b5b5b5;
  text-align: center;
  font-size: .6em;
  }

.qrcodecontainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}  

.heroexplainer {

  justify-content: center;
  max-width: 50vw;

}
.centered {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.uploadpageimage {

    max-width: 130px;
    max-height: 130px;
    margin: 10px;

}

.livecontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }


h2 {
    margin-top: 0;
    /* color:#56513d; */
    font-size: 33px;
    text-transform: uppercase;

}

.subtitle {
    margin-top: 0;
    color:#b5b5b5;
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}

.logo_top {

  max-width: 32vw;
}

.title {
  margin-top: 0;
  color:#b5b5b5;
  font-size: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

}

.buttonmock{
  background-color:#b5b5b5;
  color:#ffffff;
  padding: 6px;
}

.hints {
  margin-top: 0;
  color:#b5b5b5;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

/*label {
    display: block;
    margin-bottom: 10px;
} */

.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;
 

}

#uploadButton {
    background-color: #b5b5b5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
 
}
#uploadButton:hover {
    background-color: #808080;
}
#uploadStatus {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    color: #b5b5b5;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;

}

.instructions {
    
    padding-top:100px;
    padding-bottom:20px;
    padding: 30;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    color: #b5b5b5;
    font-weight: 300;

}
#thumbnails
{
padding: 5px;

}

#uploadedImages {
    margin-top: 20px;
}
.image {
    display: inline-block;
    margin: 10px;
}
.image img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imagefilename {
	color:silver;
}

.uploadedimage img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;    

}

/* Media query for mobile screens */
@media (max-width: 600px) {
    .container {
        padding-top: 10vh;
    }

    .UIcontainer {
      padding-top: 10vh;
  }

    .uploadpageimage {
        max-width: 100%;
    }

    /* Increase font sizes for better readability on mobile */
    h2 {
        font-size: 24px;
    }

    label {
        font-size: 14px;
    }

    #uploadButton {
        font-size: 10px;
        text-transform: uppercase;
        color: #000000;
    }

    #uploadStatus {
        font-size: 18px;
    }

    /* Add more font size adjustments as needed */

   
}

.modaltext {

  color: #2b2b2b;

}

/* loader animation */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 165px;
  height: 80px;
  padding: 40px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(176, 21, 21);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* ADMIN SECTION */

.adminlogo {
  max-width: 200px;
}

.downloadbutt {
  background-color: #b5b5b5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}
#downloadbutt:hover {
  background-color: #b5b5b5;
}

.look {
  max-width: 66px;
}

.nowlive {
  color:rgb(167, 1, 1);
}

.credit {

  font-size: .6em;
  color: #8c8c8c;
}

/** Signup Forms **/

.textContainer {
  font-size: .9em;
  max-width: 40vw;
  }
  @media screen and (max-width: 600px) {
    .textContainer {
      max-width: 60vw;
    }
  }
  
  

  
  
  .error-message {
    color: crimson;
  }


div.form-item{position: relative; display: block; margin-bottom: 20px;}
 input{transition: all .2s ease;}
 input.form-style{
	color:#8a8a8a;
	display: block;
	width: 90%;
	height: 44px;
	padding: 5px 5%;
	border:1px solid #ccc;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}
div.form-item .form-style:focus{outline: none; border:1px solid #58bff6; color:#58bff6; }
div.form-item p.formLabel {
	position: absolute;
	left:26px;
	top:2px;
	transition:all .4s ease;
	color:#bbb;}
.formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color:#58bff6 !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].login{
	float:right;
	width: 112px;
	height: 37px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #a70101;
	border:3px solid #232324;
	color: #fff;
	font-weight: bold;
}
input[type="submit"].login:hover{background-color: #44b70e; border:4px solid #040404; color:#dedeea; cursor:pointer;}
input[type="submit"].login:focus{outline: none;}

.pagetitle {

  font-size: 1.2em;
  margin-top: -15px;
  color: #8c8c8c;

}

.checkout_notes {
  min-height: 40px;
  padding: 40px;
  color: #363636;
}

.eaformlable {
  font-size: .8em;
}

@media (max-width: 800px) {
  .eaformlable  {
    max-width: 80vw;
    font-size: .9em;
  }
}

@media (max-width: 600px) {
  .eaformlable {
    max-width: 60vw;
    font-size: 1em;
  }
}

.chooseImageUpload {

  text-align: center;

}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #d3d3d3;
  border: 1px solid #ccc;
}


.eabutton {
  color: #f9f5f5;
  padding: 0.7em 1.7em;
  font-size: 18px;
  text-align: center;
  border-radius: 3.5em;
  background: #e8e8e822;
  border: 2px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #14141480, -6px -6px 12px #2d292969;
 }
 
 .eabutton:active {
  color: #bc4a4b;
  box-shadow: inset 4px 4px 12px #580101,
              inset -4px -4px 12px #430303;
 }
 .eabutton:hover {
     background: #bc4a4b;
     color: #eae9e9 !important;
   
 }
 
 .eabutton > svg {
   transition: transform .3s ease-in-out;
 }
 
 .eabutton:hover svg {
   transform: translatey(-5px);
   
 }
 .eabuttonsubtext {
     color: #6e6868;
     font-size: .8em;
     max-width: 300px;
 }
 .eabuttonspacing {
  padding-top: 60px;
  text-align: center;
 }

 .eamodbutton {
  color: #f9f5f5;
  padding: 0.7em 1.7em;
  font-size: 18px;
  text-align: center;
  border-radius: 3.5em;
  background: #35cc10e3;
  border: 2px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #14141480, -6px -6px 12px #2d292969;
 }
 
 .eamodbutton:active {
  color: #bc4a4b;
  box-shadow: inset 4px 4px 12px #580101,
              inset -4px -4px 12px #430303;
 }
 .eamodbutton:hover {
     background: #bc4a4b;
     color: #eae9e9 !important;
   
 }
 
 .eamodbutton > svg {
   transition: transform .3s ease-in-out;
 }
 
 .eamodbutton:hover svg {
   transform: translatey(-5px);
   
 }



 .demoeabutton {
  color: #f9f5f5;
    padding: 0.7em 1.7em;
    font-size: 18px;
    text-align: center;
    border-radius: 3.5em;
    background: #e8e8e822;
    border: 2px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #14141480, -6px -6px 12px #2d292969;
 }
 
 .demoeabutton:active {
  color: #669143;
  box-shadow: inset 4px 4px 12px #580101,
              inset -4px -4px 12px #430303;
 }
 .demoeabutton:hover {
     background: #17fe02;
     color: #eae9e9;
   
 }
 
 .demoeabutton > svg {
   transition: transform .3s ease-in-out;
 }
 
 .demoeabutton:hover svg {
   transform: translatey(-5px);
   
 }
 .eabuttonsubtext {
     color: #eae4e4;
     font-size: .8em;
     max-width: 300px;
 }
 .eabuttonspacing {
  padding-top: 60px;
  text-align: center;
 }

 .tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}
.tooltip span {
  visibility: hidden;
  width: 10em;
  background-color: #fffffff3;
  color: #705252;
  text-align: center;
  border-radius: 6px;
  padding: 10px 19px;
  position: absolute;
  z-index: 9;
  top: -1em;
  left:  100%;
  margin-left:1em;
  opacity: 0;
  transition: opacity .4s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.tooltip span::after {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 100%;
  margin-top: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
}
.tooltip input {
  display:none;
}
.tooltip input:checked+span {
  visibility: visible;
  opacity: 1;
}

/*  W3 Modal  */

.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}

.w3-display-topright{position:absolute;right:0;top:0}
.w3-image{max-width:50%;height:auto}img{vertical-align:middle}a{color:inherit}
}


.Parent {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  min-width: 300px;
}

.child1 {
  width: 50%;

}

.child2 {
  width: 50%;

}
.pricing {
text-align:center;
}
.dollars {
color: #BC4A4B;
font-weight: 700;
font-size: 2em;

}
.demored{
color: #BC4A4B;
font-weight: 700;
}
.helptext{
text-align: left;
padding: 30px;
}




.smallqr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media (max-width: 800px) {
  .smallqr  {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .smallqr {
    width: 95%;
  }
}

.demoalert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
    z-index: 5;
    /* margin-left: 114px; */
    max-width: 400px;
    filter: drop-shadow(0px 0px 10px black);

}

.blink {
  font-weight: 700;
  color: rgb(249, 250, 236);
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.fbvideo {


}
.qr-container {
  padding: 68px;
  background-color: #0f0f0ff2;
  text-align: center;
}
.qr-container a {
  color: #a70101;
}


@media (max-width: 800px) {
  .qr-container  {
    padding: 38px;
  }
}

@media (max-width: 600px) {
  .qr-container {
    padding: 12px;
  }
}

#liveButton {
text-align: center;

}